// variables
$containerWidth: 1170px;
$gap: 15px;
$columnsCount: 12;
$colWidth: 100% / $columnsCount;


* {
    box-sizing: border-box;
}

.container {
    max-width: $containerWidth;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* ba-grid */

.ba-row {
    display: flex;
    flex-wrap: wrap;

}

.ba-row+.ba-row {
    margin-top: 1rem;
}

[class^='ba-col'] {
    padding-left: $gap;
    padding-right: $gap;
    width: 100%;
}

@for $i from 1 through $columnsCount {
    .ba-col-#{$i} {
        width: $colWidth * $i;
    }
}


